@{ 
  Layout = "_Layout";
}

@using System.Security.Claims
<h2>Authentication with Identity</h2>
<ht />
@if (User.Identity.IsAuthenticated)
{ 
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-default" value="Log Out" />
  }
}
else
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Login in", "Login")</P>
}
<p>@Html.ActionLink("Home", "Index", "Home")</p>
